{% extends 'menu/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="login-page">
        <div class="row">
            <div class="col-lg-4 col-sm-12"></div>
            <div class="col-lg-8 col-sm-12">
                <a href="{% url 'cart' %}">
                    <button class="btn btn-success btn-sm mt-5 mb-3">Back To Basket</button>
                </a>
                <div class="card login-card">
                    <div class="card-body">
                        <h1 class="text-center font-weight-bold mb-4">Form</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form.item|as_crispy_field }}
                                {{ form.time_desired|as_crispy_field }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-success form-control" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
